*{
    margin : 0;
    padding:0;
    
    }
    body{
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif
    
    }
    .container {
       max-width: 1000px;
       
       background-color: pink;
       margin:0 auto;
       padding: 20px;
    }
    header{
    
    
    }
    .image{
        height: 100px;
        width: 100px;
        border: 3px solid white;
        border-radius:50%;
        float:left
    
    
    }
    .header-bio{
        float: left;
        padding: 30px
    
    
    }
    h3{
color:#11999e;

    }
    h1,h2,h4,h5,h6{
      color:black;
    
    }
    .header-contact{
    
    float: right;
    padding:30px;
    
    }
    .header-contact a {
        text-decoration: none;
        color:teal;
        font-weight:bold;
    
    
    }
    .header-contact a:hover{
        text-decoration: underline;
        color: blue
    
        
    }
    .clear-div{
        clear:both;
    }
    hr{
        border: solid black 3px;
        width: 100%;
        margin:20px auto;
        border-bottom: none;
    }
    /*----
    personal section start
    --------*/
    #Experience-section{

    }
    .content{
        margin-bottom: 30px;


    }
    .left-div{
        width:30%;
        float: left;


    }
    .right-div{
        width:70%;
        float: left;


    }
    .common-hr{
      border: solid black 1px;
      border-bottom: none;
     width:100%;
      margin:20px auto;


    }
    .skill-left-div{
        float: left;
        width: 45%;

    }
    .skill-right-div{
        float: right;
        width: 45%;
        
    }
    
    .education-left-div{
        float: left;
        width: 50%;

    }
    .education-right-div{
        float: right;
        width: 50%;
            
    }
    .project-left-div{
        float: left;
        width: 50%;

    }
    .project-right-div{
        float: right;
        width: 50%;
            
    }
    .footer-class{
        background-color: black;
        text-align: center;
        padding: 10px;

    }
    .footer-class a{
     color: white;
     text-decoration: none;
     margin: 20px; 

    }
    .footer-class p{
        color: white;
        margin-top: 20px; 
   
       }